{% extends "base.html" %}

{% block page_title %}
  Tasks
{% endblock page_title %}

{% block content %}
  <main class="container">
    <h1>Task List</h1>

    {% if todo_list %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Criado em</th>
            <th scope="col">Data de entrega</th>
            <th scope="col">Finalizado em</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todo_list %}
            <th scope="row">{{ todo.pk}}</th>
              <td>{{ todo.title }}</td>
              <td>{{ todo.created_at }}</td>
              <td>{{ todo.deadline }}</td>
              <td>{{ todo.finished_at|default:"-" }}</td>
              <td>
                <a href={% url "todo_complete" pk=todo.pk %} class="btn btn-primary {% if todo.finished_at %}disabled{% endif %}">Complete</a>
                <a href={% url "todo_update" pk=todo.pk %} class="btn btn-secondary btn-sm {% if todo.finished_at %}disabled{% endif %}">Update</a>
                <a href={% url "todo_delete" pk=todo.pk %} class="btn btn-danger">Delete</a>
              </td>
            </tr> 
          {% endfor %}
            
        </tbody>
      </table>
    {% else %}
      <p>Não há tarefas cadastradas!!</p>
    {% endif %}
    <a href={% url "todo_create" %} class="btn btn-primary">New Task</a>
      
  </main>
{% endblock content %}
